<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Machine</title>
    <link rel="stylesheet" href="../static/dist/css/milo.css" th:href="@{/dist/css/milo.css}"/>
</head>
<body>
<header th:replace="layout::nav"></header>
<!--<header role="banner">-->
    <!--<nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">-->
        <!--<div class="container">-->
            <!--<button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">-->
                <!--<span class="navbar-toggler-icon"></span>-->
            <!--</button>-->
            <!--<div class="collapse navbar-collapse order-3 order-md-2" id="navbar">-->
                <!--<ul class="navbar-nav mr-auto">-->
                    <!--<li class="nav-item">-->
                        <!--<a href="post-new.html" class="nav-link" th:href="@{/newStory}">New story</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<a href="#" class="navbar-brand order-1 order-md-3 mx-auto">Time machine</a>-->

            <!--<div class="collapse navbar-collapse order-4 order-md-4" id="navbar">-->
                <!--<ul class="ml-auto">-->

                <!--</ul>-->
                <!--<form action="#" class="form-inline" role="search">-->
                    <!--<input type="text" class="search js-search form-control form-control-rounded ml-auto mr-auto" title="Enter search query here" placeholder="Search..." />-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</header>-->

<main class="main pt-4" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="card mb-4">
                    <header class="card-header text-center">
                        <div class="card-meta">
                            <time class="timeago" datetime="2017-10-26 20:00" th:datetime="${story.dateUploaded}"></time>
                        </div>
                        <a href="#">
                            <h1 class="card-title" th:text="${story.title}">Test title</h1>
                        </a>
                    </header>
                    <img src="../static/img/1.jpg" alt="" class="card-img" th:src="@{/getImage/{id}(id=${story.id})}"/>
                    <!--<div class="card-body">-->
                        <!--<p th:text="${story.content}">test test test</p>-->
                    <!--</div>-->
                    <div class="card-body">
                        <h3>4 Comments</h3>
                        <div class="media mb-3">
                            <!--<div class="text-center pl-3">-->
                                <!--<h6>Ivy</h6>-->
                            <!--</div>-->
                            <div class="media-body">
                                <h6>From Ivy</h6>
                                <p class="mt-3 mb-2">Some comment</p>
                                <time class="timeago text-muted" datetime="2017-12-30 20:00"></time>
                                <!--<a href="#" class="float-right"><span class="fa fa-reply"></span>Replay</a>-->
                            </div>
                        </div>
                        <div class="mt-5">
                            <h5>Write a response</h5>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
                                    </div>

                                </div>
                                <textarea class="form-control mt-3" name="response" id="response" rows="3" placeholder="Your response..."></textarea>
                                <button class="btn btn-success mt-3" type="submit">Publish</button>
                            </form>

                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-3 ml-auto">
                <aside class="sidebar sidebar-sticky">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title">Tags</h4>
                            <a href="#" class="btn btn-light btn-sm mb-1">Journey</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>

<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">
        <div class="copy">
            &copy; Time machine 2018<br />
            All rights reserved
        </div>
    </div>
</footer>
<script src="../static/dist/js/bundle.js" th:src="@{/dist/js/bundle.js}"></script>
</body>
</html>