<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/dist/css/milo.css" th:href="@{/dist/css/milo.css}"/>
</head>
<body>
<header th:replace="layout::nav"></header>

<main class="main pt-4" role="main">
    <div class="container">
        <div class="row">

            <div class="col-md-4" th:each="story : ${stories}">
                <article class="card mb-4">
                    <header class="card-header">
                        <div class="card-meta">
                            <time class="timeago" datetime="2017-10-26 20:00" th:datetime="${story.dateUploaded}"></time>
                            <span> in </span>
                            <a href="#" th:text="${story.tag}" th:href="@{/(tag=${story.tag})}">Journey</a>
                            <a href="#" th:href="@{/deleteStory(story=${story.id})}" class="float-right"><span class="fa fa-trash-o"></span></a>
                        </div>
                    </header>
                    <a href="#" th:href="@{/story/{id}(id=${story.id})}">
                        <!--<img src="../static/img/text.jpg" th:src="@{/getImage/{id}(id=${story.id})}" alt="" class="card-img">-->
                        <img th:src="@{/getImage/{id}(id=${story.id})}" alt="" class="card-img">
                    </a>
                    <!--<div class="card-body">-->
                        <!--<p class="card-text" th:text="${story.content}">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>-->
                    <!--</div>-->
                </article>
            </div>
        </div>
    </div>
</main>

<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">
        <div class="copy">
            &copy; Time machine 2018<br />
            All rights reserved
        </div>
    </div>
</footer>

<script src="../static/dist/js/bundle.js" th:src="@{/dist/js/bundle.js}"></script>
</body>
</html>